name: Run tests

on:
    push:
        branches: [main, master]
    pull_request:
        branches: [main, master]

jobs:
    tests:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - uses: oven-sh/setup-bun@v2

            - name: Install packages
              run: bun install --frozen-lockfile

            - name: Run linters
              run: bunx eslint . --no-fix
